[Unit]
Description=My personal thermostat
Requires=mosquitto.service
After=mosquitto.service

[Service]
ExecStart=/usr/bin/Thermostat
Restart=always

[Install]
WantedBy=multi-user.target